# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.env/
.venv/
env/
venv/
ENV/

# VSCode settings
.vscode/

# Mac OS and system files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# PyTorch Lightning and HuggingFace
lightning_logs/
*.ckpt

# TensorBoard and wandb
runs/
wandb/

# Test coverage
.coverage
htmlcov/
coverage.xml
.cache/

# MyPy, Pyre, Pylint
.mypy_cache/
.pyre/
.pylint.d/

# Data files
*.h5
*.hdf5
*.npz
*.npy
*.tsv
*.jsonl

# Temporary files
*.tmp
*.bak
*.swp

